*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

.background {
    background: rgb(52, 166, 251);
    table-layout: fixed;
    border-spacing: 0;  
}

.background td {
    padding: 0;
}

.lava {
    background: rgb(255, 100, 100);
    /* box-shadow: 2px 2px 1px black; */
}

.wall {
    background: white;
    border: solid 1px black;
    box-shadow: 1px 1px 1px black;
}

.actor {
    position: absolute;
}

.coin {
    background: rgb(241, 229, 89);
    border-radius: 50%;
    /* border: solid 1px black; */
    box-shadow: 2px 2px 1px black;
}

.player {
    background: rgb(64, 64, 64);
    /* box-shadow: 2px 2px 1px black; */
}

.lost .player {
    background: rgb(160, 64, 64);
}

.won .player {
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
    overflow: hidden;
    max-width: 600px;
    max-height: 450px;
    position: relative;
    /* border: solid 10px black; */
    margin: auto;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* box-shadow: 10px 10px 30px 0 black; */
}

#scoreContainer {
    /* border: solid 1px black; */
    display: flex;
    margin: 40px 0px;
    justify-content: space-around;
    font-size: 30px;
    /* flex-wrap: wrap; */

}

#messageContainer {
    display: flex;
    justify-content: center;
    width: 620px;
    height: 470px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 123px;
    /* margin: auto; */
    border: solid 10px black;
    box-shadow: 10px 10px 30px 0 black;
    display: block;
    font-size: 30px;

}
